@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pixel';
    src: url('/fonts/Symtext.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
  height: 100%;
  color: white;
}

body {
    background-color: #0F232E;
    /* font-family: 'Noto Serif', serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-image: url("https://eliti.com.br/assets/imgs/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: pixel;
    text-decoration: none;
    color: inherit;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  p {
    a {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-decoration: underline;
    }
  }

  a.action {
    border-radius: 9999px;
    padding: 1.2rem 3rem;
    background-color: #ff00ff99;
    transition: background-color 0.2s;
    box-shadow: 0.5rem 0.5rem 1rem #000D;
    &:hover {
      background-color: #ff00ffdd;
      box-shadow: 0.3rem 0.3rem 1rem #000D;
    }
  }

